@import url('https://fonts.googleapis.com/css2?family=Gluten&family=Permanent+Marker&family=Special+Elite&display=swap');

.hmbg {
    display: none;
}
 
.aaa {
  color: wheat;
  text-align: center;
}

 #menuToggle
 {
   display: block;
   position: relative;
   top: 50px;
   left: 50px;
   
   z-index: 1;
   
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle a
 {
   text-decoration: none;
   color: #232323;
   
   transition: color 0.3s ease;
 }
 
 #menuToggle a:hover
 {
   color: tomato;
 }
 
 
 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   
   cursor: pointer;
   
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
   
   -webkit-touch-callout: none;
 }
 
 /*
  * Just a quick hamburger
  */
 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background: #cdcdcd;
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #232323;
 }
 
 /*
  * But let's hide the middle one.
  */
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 /*
  * Ohyeah and the last one should go the other direction
  */
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 /*
  * Make this absolute positioned
  * at the top left of the screen
  */
 #menu
 {
   position: absolute;
   width: 250px;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;
   
   background: #ededed;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   /* to stop flickering of text in safari */
   
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
   padding: 10px 0;
   font-size: 22px;
 }
 
 /*
  * And let's slide it in from the left
  */
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }

.pic {
  width: 100%;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}

 /*
  My CSS
  */

hr {
  width: 100%;
}

.naslov {
  color: white;
}

body {
    margin: 0;
  padding: 0;
  overflow-x: hidden;
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Special Elite', cursive;
}

.logo {
    color: white;
    width: 58px;
    height: 58px;
    padding-top: 4px;
    padding-left: 10px;
}


.bottom {
  background-color: #333;
  width: 100%;
  height: 80px;
}

.text {
  padding-top: 5px;
  color: white;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



/* PHONE VIEW START */

.navbarphone {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: 2px solid white;
    display: none;
}

.navbarphone li {
   align-items: center; 
}

.navbarphone li a {
    display: block;
    padding: 12px ;
    text-align: center;
    text-decoration: none;
    color: white;
    transition: 0.5s;
    font-size: 20px;
}

.active {
    background-color:rgb(255, 77, 255, 0.1);
}

.navbarphone li a:hover {
    background-color:rgb(255, 77, 255, 0.1);
    
}

.naslovphone {
    display: none;
}

/* PHONE VIEW END */


    .navbar {
        display: none;
    }

    .hmbg {
        display: block;
    }


    .aaa {
      display: none;
    }

    .naslov {
        padding-right:20px ;
        float: right;
        font-size: 35px;
    }

    .naslov2{
        padding: 20px 20px;
        font-size: 35px;
        color: white;
    }

    .naslov3{
      padding: 10px 20px;
      font-size: 30px;
      color: rgb(245, 202, 124);
  }

  .naslov4{
    padding: 10px 30px;
    font-size: 20px;
    color: white;
}

    .logo {
      padding-top: 20px;
    }

